<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/header.css">
    <script src="/header.js" type="text/javascript" defer></script>
    <title>Carton Blanc</title>
</head>
<body>
    <header>


        <div class="header__menu-dropdown" data-dropdown>
            <button class="header__menubutton" data-dropdown-button></button>
            <div class="header__menu-dropdown-menu">
                
                    <a class="header__menu-dropdown-text" href="/playerranking">Classement</a>
                    <a class="header__menu-dropdown-text" href="/penaltylist">La carte des amendes</a>
                    <a class="header__menu-dropdown-text" href="/registerlist">Le journal des amendes</a>
                    <a class="header__menu-dropdown-text" href="/stats">Statistiques</a>
                    <a class="header__menu-dropdown-text" href="/admin">Administrateur</a>
                
            </div>
        </div>


        <a href="/" class="header__logo-container">
            <div class="header-logo-container">
                <p class="header-category-text">Carton <br> blanc</p>
                <div class="header_logo-container">
                    <img src="/logo.png" class="logo"  alt="logo">
                    <img src="/logo2.png" class="logo logobottom" alt="logo">
                </div>
            </div>
        </a>
        

    </header>

