

<div class="popup__container">
    <p class="popup__question">êtes-vous sûr de vouloir continuer?</p>
    <div class="popup__buttonContainer">
        <button id="popup__cancelButton" class="popup__cancelButton">Annuler</button>
        <a id="popup__continueButton" href="/set<%=name%>/delete/<%=item.id%>" class="popup__okButton">
            Continuer
        </a>
    </div>
</div>
<div id="popup__overlay"></div>

