:root {
    --color1: rgb(62, 83, 71);
    --color2: rgb(173, 207, 159);
    --color3: rgb(206, 216, 158);
    --color4: rgb(255, 220, 174);

    --grayishBlue: hsl(229, 6%, 66%);
  }
  




html {
    /*font-family: 'Space Grotesk', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;

   
}

header {
    height : 10vh;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10000;
    

    
}

.header__logo-container {
    text-decoration: none;
}

.header_logo-menu {
    height: 5vh;
}

.header-category-text {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
    color:white;
    text-shadow: 2px 2px 0px black;

}

.header-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-logo-container {

    display: flex;
    flex-direction: row;
}

.header_logo-container {
    position: relative;
    height: 7vh;
    width: 7vh;
}

.logo {
    
    position:absolute;
    height: 7vh;
    animation: fade 10s infinite alternate;   

}

.logobottom {
    animation-delay : 10s;
}

@keyframes fade {
    0% { opacity: 1; }
    49% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }

  .header__menubutton.active > .header__menubutton, .header__menubutton:hover {
    color: black;
  }

  .header__menubutton {
    border: none;
    background-color: transparent;
    background-image: url("menu.png");
    background-size: cover;
    height: 8vh;
    width: 8vh;
    
}




.header__menu-dropdown-menu{
    position:absolute;
    left:0;
    top: 10vh;
    background-color: var(--color1);
    opacity:0;
    pointer-events: none;
    transform: translateY(-10px);
    width: 60vw;
    max-width: 400px;
    display: flex;
    flex-direction:column;
    z-index: 10000;
    border-radius: 0 0 6px 0 ;
    
}


.header__menu-dropdown.active > .header__menubutton + .header__menu-dropdown-menu {
    opacity:1;
    transform: translateY(0);
    pointer-events:all;

}

.header__menu-dropdown-text {
    text-transform: uppercase;
    padding: 0vh 1vh;
    margin:1.5vh 5vh;
    text-decoration: none;
    color: white;
    padding-bottom:1vh;
    border-bottom: 1px solid white;
}


