<%- include("partials/headers") %>

<main>
   <div>
      <div class="title__container">
         <p class="title__text">Administrateur</p>
         <img class="title__logo" src="logoclub.png" alt="">
      </div>

      <a class="admin__overcontainer" href="/setregister">
      <div class="container-admin">
         <img class="img-admin" src="money.png" alt="money">
         <p class ="text-admin">Ajouter une nouvelle amende</p>
      </div>
      </a> 

      <a class="admin__overcontainer" href="/setplayer">
         <div class="container-admin">
            <img class="img-admin" src="messi.png" alt="player">
            <p class ="text-admin">Ajouter un nouveau joueur</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/setpenalty">
         <div class="container-admin">
            <img class="img-admin" src="penalty.png" alt="penalty">
            <p class ="text-admin">Fixer les amendes</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/setpayment">
         <div class="container-admin">
            <img class="img-admin" src="cashonly.png" alt="cashonly">
            <p class ="text-admin">Régler les amendes manuellement</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/settings">
         <div class="container-admin">
            <img class="img-admin" src="setting.png" alt="cashonly">
            <p class ="text-admin">Paramètres du club</p>
         </div>
      </a> 
   </div>
   <div class="admin__popup">
      <div class="admin__popup-container">
         <form class="admin__popup-container2">
            <div>
               <label class="label-addplayer" for="fname">Pseudo</label>
               <input class="admin__popup-input" type="text" id="fname" name="fname" placeholder="Johan">
           </div>
           <div>
               <label class="label-addplayer" for="lname">Mot de passe</label>
               <input class="admin__popup-input" type="text" id="lname" name="lname" placeholder="Micoud">
           </div>

           <input class="admin__addform-button"type="submit" value="Valider">

         </form>
      </div>

   </div>

</main>

    
</body>
</html>