<%- include("partials/headers") %>

<main>
   
   <div>
      <div class="title__container">
         <p class="title__text">Administrateur</p>
         <img class="title__logo" src="logoclub.png" alt="">
      </div>

      <a class="admin__overcontainer" href="/setregister">
      <div class="container-admin">
         <p class ="admin__text">Ajouter une nouvelle amende</p>
      </div>
      </a> 

      <a class="admin__overcontainer" href="/setplayer">
         <div class="container-admin">
            <p class ="admin__text">Ajouter un nouveau joueur</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/setpenalty">
         <div class="container-admin">
            <p class ="admin__text">Fixer les amendes</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/setpayment">
         <div class="container-admin">
            <p class ="admin__text">Régler les amendes manuellement</p>
         </div>
      </a> 

      <a class="admin__overcontainer" href="/setTeam">
         <div class="container-admin">
            <p class ="admin__text">Paramètres du club</p>
         </div>
      </a> 
   </div>
   
</main> 
</body>
</html>