<%- include("partials/headers") %>


<main class="main">
    <div class="title__container">
        <p class="title__text">Paiement des amendes</p>
        <img class="title__logo" src="logoclub.png" alt="">
    </div>

<div class="">Payer</div>

</main>
    
</body>
</html>