<%- include("partials/headers") %>

<main class="main">
    <%- include("partials/title") %>

    <div class="container-credit">
        <img class="credit__logobyrow"src="flyingmoney.png" alt="flyingmoney">
        <p class="text-credit">Darius doit 5€ à la caisse</p>
    </div>
</main>
    
</body>
</html>