<%- include("partials/headers") %>

<main class="main">
    <div class="title__container">
        <p class="title__text">Classement des joueurs</p>
        <img class="title__logo" src="logoclub.png" alt="">
    </div>